/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Jan-2015, 12:14:29
    Author     : Gabriel
*/

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#content {
    width: 50% ;
    margin-left: auto ;
    margin-right: auto ;
    padding: 10px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
a {
    color: inherit;
    text-decoration: none;
} 

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}